/* #region--------commons */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* #endregion--------commons */

/* #region--------utilities */
.display_flex{
    display: flex;
}

/* #endregion--------utilities */






/* #region--------commons */
/* #endregion--------commons */

/* #region--------commons */
/* #endregion--------commons */

/* #region--------commons */
/* #endregion--------commons */

/* #region--------commons */
/* #endregion--------commons */

/* #region--------commons */
/* #endregion--------commons */

/* #region--------commons */
/* #endregion--------commons */

/* #region--------commons */
/* #endregion--------commons */

/* #region--------commons */
/* #endregion--------commons */























